<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b</key>
	<string>in</string>
	<key>c</key>
	<string>ao</string>
	<key>d</key>
	<string>ing
uai</string>
	<key>f</key>
	<string>en</string>
	<key>g</key>
	<string>eng</string>
	<key>h</key>
	<string>ang</string>
	<key>i</key>
	<string>ch</string>
	<key>j</key>
	<string>an</string>
	<key>k</key>
	<string>ue
ai</string>
	<key>l</key>
	<string>iang
uang</string>
	<key>m</key>
	<string>ian</string>
	<key>n</key>
	<string>iao</string>
	<key>o</key>
	<string>`
uo</string>
	<key>p</key>
	<string>ie</string>
	<key>q</key>
	<string>iu</string>
	<key>r</key>
	<string>er
uan</string>
	<key>s</key>
	<string>ong
iong</string>
	<key>t</key>
	<string>ve</string>
	<key>u</key>
	<string>sh</string>
	<key>v</key>
	<string>ui
zh</string>
	<key>w</key>
	<string>ei</string>
	<key>x</key>
	<string>ua
ia</string>
	<key>y</key>
	<string>un</string>
	<key>z</key>
	<string>ou</string>
</dict>
</plist>
