<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lt</key>
	<string>lue</string>
	<key>jt</key>
	<string>jue</string>
	<key>nt</key>
	<string>nue</string>
	<key>xt</key>
	<string>xue</string>
	<key>yt</key>
	<string>yue</string>
	<key>qt</key>
	<string>que</string>
	<key>eg</key>
	<string>eng</string>
	<key>ah</key>
	<string>ang</string>
	<key>ee</key>
	<string>e</string>
	<key>aa</key>
	<string>a</string>
	<key>ba</key>
	<string>ba</string>
	<key>bb</key>
	<string>bin</string>
	<key>bc</key>
	<string>bao</string>
	<key>bd</key>
	<string>bing</string>
	<key>bf</key>
	<string>ben</string>
	<key>bg</key>
	<string>beng</string>
	<key>bh</key>
	<string>bang</string>
	<key>bi</key>
	<string>bi</string>
	<key>bj</key>
	<string>ban</string>
	<key>bk</key>
	<string>bai</string>
	<key>bm</key>
	<string>bian</string>
	<key>bn</key>
	<string>biao</string>
	<key>bo</key>
	<string>bo</string>
	<key>bp</key>
	<string>bie</string>
	<key>bu</key>
	<string>bu</string>
	<key>bw</key>
	<string>bei</string>
	<key>ca</key>
	<string>ca</string>
	<key>cc</key>
	<string>cao</string>
	<key>ce</key>
	<string>ce</string>
	<key>cf</key>
	<string>cen</string>
	<key>cg</key>
	<string>ceng</string>
	<key>ch</key>
	<string>cang</string>
	<key>ci</key>
	<string>ci</string>
	<key>cj</key>
	<string>can</string>
	<key>ck</key>
	<string>cai</string>
	<key>co</key>
	<string>cuo</string>
	<key>cr</key>
	<string>cuan</string>
	<key>cs</key>
	<string>cong</string>
	<key>cu</key>
	<string>cu</string>
	<key>cv</key>
	<string>cui</string>
	<key>cy</key>
	<string>cun</string>
	<key>cz</key>
	<string>cou</string>
	<key>da</key>
	<string>da</string>
	<key>dc</key>
	<string>dao</string>
	<key>dd</key>
	<string>ding</string>
	<key>de</key>
	<string>de</string>
	<key>df</key>
	<string>den</string>
	<key>dg</key>
	<string>deng</string>
	<key>dh</key>
	<string>dang</string>
	<key>di</key>
	<string>di</string>
	<key>dj</key>
	<string>dan</string>
	<key>dk</key>
	<string>dai</string>
	<key>dm</key>
	<string>dian</string>
	<key>dn</key>
	<string>diao</string>
	<key>do</key>
	<string>duo</string>
	<key>dp</key>
	<string>die</string>
	<key>dq</key>
	<string>diu</string>
	<key>dr</key>
	<string>duan</string>
	<key>ds</key>
	<string>dong</string>
	<key>du</key>
	<string>du</string>
	<key>dv</key>
	<string>dui</string>
	<key>dw</key>
	<string>dei</string>
	<key>dx</key>
	<string>dia</string>
	<key>dy</key>
	<string>dun</string>
	<key>dz</key>
	<string>dou</string>
	<key>fa</key>
	<string>fa</string>
	<key>ff</key>
	<string>fen</string>
	<key>fg</key>
	<string>feng</string>
	<key>fh</key>
	<string>fang</string>
	<key>fj</key>
	<string>fan</string>
	<key>fn</key>
	<string>fiao</string>
	<key>fo</key>
	<string>fo</string>
	<key>fs</key>
	<string>fong</string>
	<key>fu</key>
	<string>fu</string>
	<key>fw</key>
	<string>fei</string>
	<key>fz</key>
	<string>fou</string>
	<key>ga</key>
	<string>ga</string>
	<key>gc</key>
	<string>gao</string>
	<key>gd</key>
	<string>guai</string>
	<key>ge</key>
	<string>ge</string>
	<key>gf</key>
	<string>gen</string>
	<key>gg</key>
	<string>geng</string>
	<key>gh</key>
	<string>gang</string>
	<key>gj</key>
	<string>gan</string>
	<key>gk</key>
	<string>gai</string>
	<key>gl</key>
	<string>guang</string>
	<key>go</key>
	<string>guo</string>
	<key>gr</key>
	<string>guan</string>
	<key>gs</key>
	<string>gong</string>
	<key>gu</key>
	<string>gu</string>
	<key>gv</key>
	<string>gui</string>
	<key>gw</key>
	<string>gei</string>
	<key>gx</key>
	<string>gua</string>
	<key>gy</key>
	<string>gun</string>
	<key>gz</key>
	<string>gou</string>
	<key>ha</key>
	<string>ha</string>
	<key>hc</key>
	<string>hao</string>
	<key>hd</key>
	<string>huai</string>
	<key>he</key>
	<string>he</string>
	<key>hf</key>
	<string>hen</string>
	<key>hg</key>
	<string>heng</string>
	<key>hh</key>
	<string>hang</string>
	<key>hj</key>
	<string>han</string>
	<key>hk</key>
	<string>hai</string>
	<key>hl</key>
	<string>huang</string>
	<key>ho</key>
	<string>huo</string>
	<key>hr</key>
	<string>huan</string>
	<key>hs</key>
	<string>hong</string>
	<key>hu</key>
	<string>hu</string>
	<key>hv</key>
	<string>hui</string>
	<key>hw</key>
	<string>hei</string>
	<key>hx</key>
	<string>hua</string>
	<key>hy</key>
	<string>hun</string>
	<key>hz</key>
	<string>hou</string>
	<key>i</key>
	<string>ch</string>
	<key>ia</key>
	<string>cha</string>
	<key>ic</key>
	<string>chao</string>
	<key>id</key>
	<string>chuai</string>
	<key>ie</key>
	<string>che</string>
	<key>if</key>
	<string>chen</string>
	<key>ig</key>
	<string>cheng</string>
	<key>ih</key>
	<string>chang</string>
	<key>ii</key>
	<string>chi</string>
	<key>ij</key>
	<string>chan</string>
	<key>ik</key>
	<string>chai</string>
	<key>il</key>
	<string>chuang</string>
	<key>io</key>
	<string>chuo</string>
	<key>ir</key>
	<string>chuan</string>
	<key>is</key>
	<string>chong</string>
	<key>iu</key>
	<string>chu</string>
	<key>iv</key>
	<string>chui</string>
	<key>ix</key>
	<string>chua</string>
	<key>iy</key>
	<string>chun</string>
	<key>iz</key>
	<string>chou</string>
	<key>jb</key>
	<string>jin</string>
	<key>jd</key>
	<string>jing</string>
	<key>ji</key>
	<string>ji</string>
	<key>jk</key>
	<string>jue</string>
	<key>jl</key>
	<string>jiang</string>
	<key>jm</key>
	<string>jian</string>
	<key>jn</key>
	<string>jiao</string>
	<key>jp</key>
	<string>jie</string>
	<key>jq</key>
	<string>jiu</string>
	<key>jr</key>
	<string>juan</string>
	<key>js</key>
	<string>jiong</string>
	<key>ju</key>
	<string>ju</string>
	<key>jx</key>
	<string>jia</string>
	<key>jy</key>
	<string>jun</string>
	<key>ka</key>
	<string>ka</string>
	<key>kc</key>
	<string>kao</string>
	<key>kd</key>
	<string>kuai</string>
	<key>ke</key>
	<string>ke</string>
	<key>kf</key>
	<string>ken</string>
	<key>kg</key>
	<string>keng</string>
	<key>kh</key>
	<string>kang</string>
	<key>kj</key>
	<string>kan</string>
	<key>kk</key>
	<string>kai</string>
	<key>kl</key>
	<string>kuang</string>
	<key>ko</key>
	<string>kuo</string>
	<key>kr</key>
	<string>kuan</string>
	<key>ks</key>
	<string>kong</string>
	<key>ku</key>
	<string>ku</string>
	<key>kv</key>
	<string>kui</string>
	<key>kw</key>
	<string>kei</string>
	<key>kx</key>
	<string>kua</string>
	<key>ky</key>
	<string>kun</string>
	<key>kz</key>
	<string>kou</string>
	<key>la</key>
	<string>la</string>
	<key>lb</key>
	<string>lin</string>
	<key>lc</key>
	<string>lao</string>
	<key>ld</key>
	<string>ling</string>
	<key>le</key>
	<string>le</string>
	<key>lg</key>
	<string>leng</string>
	<key>lh</key>
	<string>lang</string>
	<key>li</key>
	<string>li</string>
	<key>lj</key>
	<string>lan</string>
	<key>lk</key>
	<string>lue|lai</string>
	<key>ll</key>
	<string>liang</string>
	<key>lm</key>
	<string>lian</string>
	<key>ln</key>
	<string>liao</string>
	<key>lo</key>
	<string>luo</string>
	<key>lp</key>
	<string>lie</string>
	<key>lq</key>
	<string>liu</string>
	<key>lr</key>
	<string>luan</string>
	<key>ls</key>
	<string>long</string>
	<key>lu</key>
	<string>lu</string>
	<key>lv</key>
	<string>lv</string>
	<key>lw</key>
	<string>lei</string>
	<key>lx</key>
	<string>lia</string>
	<key>ly</key>
	<string>lun</string>
	<key>lz</key>
	<string>lou</string>
	<key>ma</key>
	<string>ma</string>
	<key>mb</key>
	<string>min</string>
	<key>mc</key>
	<string>mao</string>
	<key>md</key>
	<string>ming</string>
	<key>me</key>
	<string>me</string>
	<key>mf</key>
	<string>men</string>
	<key>mg</key>
	<string>meng</string>
	<key>mh</key>
	<string>mang</string>
	<key>mi</key>
	<string>mi</string>
	<key>mj</key>
	<string>man</string>
	<key>mk</key>
	<string>mai</string>
	<key>mm</key>
	<string>mian</string>
	<key>mn</key>
	<string>miao</string>
	<key>mo</key>
	<string>mo</string>
	<key>mp</key>
	<string>mie</string>
	<key>mq</key>
	<string>miu</string>
	<key>mu</key>
	<string>mu</string>
	<key>mw</key>
	<string>mei</string>
	<key>mz</key>
	<string>mou</string>
	<key>na</key>
	<string>na</string>
	<key>nb</key>
	<string>nin</string>
	<key>nc</key>
	<string>nao</string>
	<key>nd</key>
	<string>ning</string>
	<key>ne</key>
	<string>ne</string>
	<key>nf</key>
	<string>nen</string>
	<key>ng</key>
	<string>neng</string>
	<key>nh</key>
	<string>nang</string>
	<key>ni</key>
	<string>ni</string>
	<key>nj</key>
	<string>nan</string>
	<key>nk</key>
	<string>nue|nai</string>
	<key>nl</key>
	<string>niang</string>
	<key>nm</key>
	<string>nian</string>
	<key>nn</key>
	<string>niao</string>
	<key>no</key>
	<string>nuo</string>
	<key>np</key>
	<string>nie</string>
	<key>nq</key>
	<string>niu</string>
	<key>nr</key>
	<string>nuan</string>
	<key>ns</key>
	<string>nong</string>
	<key>nu</key>
	<string>nu</string>
	<key>nv</key>
	<string>nv</string>
	<key>nw</key>
	<string>nei</string>
	<key>ny</key>
	<string>nun</string>
	<key>nz</key>
	<string>nou</string>
	<key>oa</key>
	<string>a</string>
	<key>oc</key>
	<string>ao</string>
	<key>oe</key>
	<string>e</string>
	<key>of</key>
	<string>en</string>
	<key>og</key>
	<string>eng</string>
	<key>oh</key>
	<string>ang</string>
	<key>oj</key>
	<string>an</string>
	<key>ok</key>
	<string>ai</string>
	<key>oo</key>
	<string>o</string>
	<key>or</key>
	<string>er</string>
	<key>ow</key>
	<string>ei</string>
	<key>oz</key>
	<string>ou</string>
	<key>pa</key>
	<string>pa</string>
	<key>pb</key>
	<string>pin</string>
	<key>pc</key>
	<string>pao</string>
	<key>pd</key>
	<string>ping</string>
	<key>pf</key>
	<string>pen</string>
	<key>pg</key>
	<string>peng</string>
	<key>ph</key>
	<string>pang</string>
	<key>pi</key>
	<string>pi</string>
	<key>pj</key>
	<string>pan</string>
	<key>pk</key>
	<string>pai</string>
	<key>pm</key>
	<string>pian</string>
	<key>pn</key>
	<string>piao</string>
	<key>po</key>
	<string>po</string>
	<key>pp</key>
	<string>pie</string>
	<key>pu</key>
	<string>pu</string>
	<key>pw</key>
	<string>pei</string>
	<key>pz</key>
	<string>pou</string>
	<key>qb</key>
	<string>qin</string>
	<key>qd</key>
	<string>qing</string>
	<key>qi</key>
	<string>qi</string>
	<key>qk</key>
	<string>que</string>
	<key>ql</key>
	<string>qiang</string>
	<key>qm</key>
	<string>qian</string>
	<key>qn</key>
	<string>qiao</string>
	<key>qp</key>
	<string>qie</string>
	<key>qq</key>
	<string>qiu</string>
	<key>qr</key>
	<string>quan</string>
	<key>qs</key>
	<string>qiong</string>
	<key>qu</key>
	<string>qu</string>
	<key>qx</key>
	<string>qia</string>
	<key>qy</key>
	<string>qun</string>
	<key>rc</key>
	<string>rao</string>
	<key>re</key>
	<string>re</string>
	<key>rf</key>
	<string>ren</string>
	<key>rg</key>
	<string>reng</string>
	<key>rh</key>
	<string>rang</string>
	<key>ri</key>
	<string>ri</string>
	<key>rj</key>
	<string>ran</string>
	<key>ro</key>
	<string>ruo</string>
	<key>rr</key>
	<string>ruan</string>
	<key>rs</key>
	<string>rong</string>
	<key>ru</key>
	<string>ru</string>
	<key>rv</key>
	<string>rui</string>
	<key>rx</key>
	<string>rua</string>
	<key>ry</key>
	<string>run</string>
	<key>rz</key>
	<string>rou</string>
	<key>sa</key>
	<string>sa</string>
	<key>sc</key>
	<string>sao</string>
	<key>se</key>
	<string>se</string>
	<key>sf</key>
	<string>sen</string>
	<key>sg</key>
	<string>seng</string>
	<key>sh</key>
	<string>sang</string>
	<key>si</key>
	<string>si</string>
	<key>sj</key>
	<string>san</string>
	<key>sk</key>
	<string>sai</string>
	<key>so</key>
	<string>suo</string>
	<key>sr</key>
	<string>suan</string>
	<key>ss</key>
	<string>song</string>
	<key>su</key>
	<string>su</string>
	<key>sv</key>
	<string>sui</string>
	<key>sw</key>
	<string>sei</string>
	<key>sy</key>
	<string>sun</string>
	<key>sz</key>
	<string>sou</string>
	<key>ta</key>
	<string>ta</string>
	<key>tc</key>
	<string>tao</string>
	<key>td</key>
	<string>ting</string>
	<key>te</key>
	<string>te</string>
	<key>tg</key>
	<string>teng</string>
	<key>th</key>
	<string>tang</string>
	<key>ti</key>
	<string>ti</string>
	<key>tj</key>
	<string>tan</string>
	<key>tk</key>
	<string>tai</string>
	<key>tm</key>
	<string>tian</string>
	<key>tn</key>
	<string>tiao</string>
	<key>to</key>
	<string>tuo</string>
	<key>tp</key>
	<string>tie</string>
	<key>tr</key>
	<string>tuan</string>
	<key>ts</key>
	<string>tong</string>
	<key>tu</key>
	<string>tu</string>
	<key>tv</key>
	<string>tui</string>
	<key>tw</key>
	<string>tei</string>
	<key>ty</key>
	<string>tun</string>
	<key>tz</key>
	<string>tou</string>
	<key>u</key>
	<string>sh</string>
	<key>ua</key>
	<string>sha</string>
	<key>uc</key>
	<string>shao</string>
	<key>ud</key>
	<string>shuai</string>
	<key>ue</key>
	<string>she</string>
	<key>uf</key>
	<string>shen</string>
	<key>ug</key>
	<string>sheng</string>
	<key>uh</key>
	<string>shang</string>
	<key>ui</key>
	<string>shi</string>
	<key>uj</key>
	<string>shan</string>
	<key>uk</key>
	<string>shai</string>
	<key>ul</key>
	<string>shuang</string>
	<key>uo</key>
	<string>shuo</string>
	<key>ur</key>
	<string>shuan</string>
	<key>uu</key>
	<string>shu</string>
	<key>uv</key>
	<string>shui</string>
	<key>uw</key>
	<string>shei</string>
	<key>ux</key>
	<string>shua</string>
	<key>uy</key>
	<string>shun</string>
	<key>uz</key>
	<string>shou</string>
	<key>v</key>
	<string>zh</string>
	<key>va</key>
	<string>zha</string>
	<key>vc</key>
	<string>zhao</string>
	<key>vd</key>
	<string>zhuai</string>
	<key>ve</key>
	<string>zhe|zhe</string>
	<key>vf</key>
	<string>zhen</string>
	<key>vg</key>
	<string>zheng</string>
	<key>vh</key>
	<string>zhang</string>
	<key>vi</key>
	<string>zhi</string>
	<key>vj</key>
	<string>zhan</string>
	<key>vk</key>
	<string>zhai</string>
	<key>vl</key>
	<string>zhuang</string>
	<key>vo</key>
	<string>zhuo</string>
	<key>vr</key>
	<string>zhuan</string>
	<key>vs</key>
	<string>zhong</string>
	<key>vu</key>
	<string>zhu</string>
	<key>vv</key>
	<string>zhui</string>
	<key>vx</key>
	<string>zhua</string>
	<key>vy</key>
	<string>zhun</string>
	<key>vz</key>
	<string>zhou</string>
	<key>wa</key>
	<string>wa</string>
	<key>wf</key>
	<string>wen</string>
	<key>wg</key>
	<string>weng</string>
	<key>wh</key>
	<string>wang</string>
	<key>wj</key>
	<string>wan</string>
	<key>wk</key>
	<string>wai</string>
	<key>wo</key>
	<string>wo</string>
	<key>wu</key>
	<string>wu</string>
	<key>ww</key>
	<string>wei</string>
	<key>xb</key>
	<string>xin</string>
	<key>xd</key>
	<string>xing</string>
	<key>xi</key>
	<string>xi</string>
	<key>xk</key>
	<string>xue</string>
	<key>xl</key>
	<string>xiang</string>
	<key>xm</key>
	<string>xian</string>
	<key>xn</key>
	<string>xiao</string>
	<key>xp</key>
	<string>xie</string>
	<key>xq</key>
	<string>xiu</string>
	<key>xr</key>
	<string>xuan</string>
	<key>xs</key>
	<string>xiong</string>
	<key>xu</key>
	<string>xu</string>
	<key>xx</key>
	<string>xia</string>
	<key>xy</key>
	<string>xun</string>
	<key>ya</key>
	<string>ya</string>
	<key>yb</key>
	<string>yin</string>
	<key>yc</key>
	<string>yao</string>
	<key>yd</key>
	<string>ying</string>
	<key>ye</key>
	<string>ye</string>
	<key>yh</key>
	<string>yang</string>
	<key>yi</key>
	<string>yi</string>
	<key>yj</key>
	<string>yan</string>
	<key>yk</key>
	<string>yue</string>
	<key>yo</key>
	<string>yo</string>
	<key>yr</key>
	<string>yuan</string>
	<key>ys</key>
	<string>yong</string>
	<key>yu</key>
	<string>yu</string>
	<key>yy</key>
	<string>yun</string>
	<key>yz</key>
	<string>you</string>
	<key>za</key>
	<string>za</string>
	<key>zc</key>
	<string>zao</string>
	<key>ze</key>
	<string>ze</string>
	<key>zf</key>
	<string>zen</string>
	<key>zg</key>
	<string>zeng</string>
	<key>zh</key>
	<string>zang</string>
	<key>zi</key>
	<string>zi</string>
	<key>zj</key>
	<string>zan</string>
	<key>zk</key>
	<string>zai</string>
	<key>zo</key>
	<string>zuo</string>
	<key>zr</key>
	<string>zuan</string>
	<key>zs</key>
	<string>zong</string>
	<key>zu</key>
	<string>zu</string>
	<key>zv</key>
	<string>zui</string>
	<key>zw</key>
	<string>zei</string>
	<key>zy</key>
	<string>zun</string>
	<key>zz</key>
	<string>zou</string>
</dict>
</plist>
