<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Special</key>
	<dict>
		<key>ag</key>
		<string>ang</string>
		<key>eh</key>
		<string>eng</string>
		<key>an</key>
		<string>an</string>
		<key>en</key>
		<string>en</string>
		<key>ou</key>
		<string>ou</string>
		<key>aa</key>
		<string>a</string>
		<key>oo</key>
		<string>o</string>
		<key>ee</key>
		<string>e</string>
	</dict>
	<key>Yun</key>
	<dict>
		<key>q</key>
		<string>iu</string>
		<key>w</key>
		<string>ei</string>
		<key>e</key>
		<string>e</string>
		<key>r</key>
		<string>uan|er</string>
		<key>t</key>
		<string>ue</string>
		<key>y</key>
		<string>un</string>
		<key>u</key>
		<string>u</string>
		<key>i</key>
		<string>i</string>
		<key>o</key>
		<string>uo|o</string>
		<key>p</key>
		<string>ie</string>
		<key>a</key>
		<string>a</string>
		<key>s</key>
		<string>ong|iong</string>
		<key>d</key>
		<string>ing|uai</string>
		<key>f</key>
		<string>en</string>
		<key>g</key>
		<string>eng</string>
		<key>h</key>
		<string>ang</string>
		<key>j</key>
		<string>an</string>
		<key>k</key>
		<string>ai|ue</string>
		<key>l</key>
		<string>iang|uang</string>
		<key>z</key>
		<string>ou</string>
		<key>x</key>
		<string>ia|ua</string>
		<key>c</key>
		<string>ao</string>
		<key>v</key>
		<string>ui|v</string>
		<key>b</key>
		<string>in</string>
		<key>n</key>
		<string>iao</string>
		<key>m</key>
		<string>ian</string>
	</dict>
	<key>Sheng</key>
	<dict>
		<key>q</key>
		<string>q</string>
		<key>w</key>
		<string>w</string>
		<key>r</key>
		<string>r</string>
		<key>t</key>
		<string>t</string>
		<key>y</key>
		<string>y</string>
		<key>u</key>
		<string>sh</string>
		<key>i</key>
		<string>ch</string>
		<key>o</key>
		<string></string>
		<key>p</key>
		<string>p</string>
		<key>s</key>
		<string>s</string>
		<key>d</key>
		<string>d</string>
		<key>f</key>
		<string>f</string>
		<key>g</key>
		<string>g</string>
		<key>h</key>
		<string>h</string>
		<key>j</key>
		<string>j</string>
		<key>k</key>
		<string>k</string>
		<key>l</key>
		<string>l</string>
		<key>z</key>
		<string>z</string>
		<key>x</key>
		<string>x</string>
		<key>c</key>
		<string>c</string>
		<key>v</key>
		<string>zh</string>
		<key>b</key>
		<string>b</string>
		<key>n</key>
		<string>n</string>
		<key>m</key>
		<string>m</string>
	</dict>
	<key>Version</key>
	<string>2.0</string>
</dict>
</plist>
